/* Google Font
=========================================== */

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/* Movie Card
=========================================== */

div.card {
    display: inline-block;
    margin: .5rem 0.5rem 1rem 0.5rem;
}

div.rating {
    display: inline-block;
    position: absolute;
    padding: 5px;
    bottom: 5px;
    right: 10px;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    background: #2196f3;
    font-family: 'Anton', sans-serif;
}

div.alternateTitle {
    margin-top: 10px;
    padding: 4px;
    border: #d2caca 1px dotted;
}

div li.altT {
    font-size: 13px;
}

div p.titleData {
    font-size: 16px;
    font-weight: bold;
}

div.card .card-content {
    padding: 15px;
}

div p.redBold {
    color: red;
    font-weight: bold;
}